html, body {
	width:  100%;
	height: 90%;
}

body {
	background-color: #000;
	vertical-align: top;
	overflow: hidden;
}

.graydient {
	background: -webkit-radial-gradient(center, ellipse cover,  #444 0%,#000000 90%); /* Chrome10+,Safari5.1+ */
}

#container{
	width:  59%;
	height: 100%;
	float: left;
}

/* ------------------- Button ------------------- */

.solve{
	width:  20%;
	height: 100%;
	float: left;
}

figure {
	width: 200px;
	height: 60px;
	margin-top: 50%;
	margin-left: 50%;
	cursor: pointer;
	perspective: 500px;
	-webkit-perspective: 500px;
}

figure div {
	height: 80%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: 0.25s;
	-webkit-transition: 0.25s;
}

figure:hover div {
	transform: rotateX(-90deg);
}

span.face {
	width: 80%;
	height: 80%;
	position: absolute;
	box-sizing: border-box;
	border: 3px solid #fff;
	border-radius: 5px;
	font-family: 'Source Sans Pro',sans-serif;
	line-height: 30px;
	font-size: 14pt;
	text-align: center;
	text-transform: uppercase;
}

span.face:nth-child(1) {
	color: #fff;
	transform: translate3d(0, 0, 18px);
	-webkit-transform: translate3d(0, 0, 18px);
}

span.face:nth-child(2) {
	color: #094b2c;
	background: #fff;
	transform: rotateX(90deg) translate3d(0, 0, 18px);
	-webkit-transform: rotateX(90deg) translate3d(0, 0, 18px);
}


.solve-step{
  width: 50%;
  height: 10%;
  border-radius: 16px;
  border: 1px solid #ffffff;
  margin: auto auto;
}

/* ------------------- typewritting terminal ------------------- */
.solve-step .terminal {
	width: 45%;
	font-size: 16px;
	margin: 1.3%;
	color: #ffffff;
	letter-spacing: 2px;
	position: absolute;
}

.solve-step .terminal::before {
	content: ">";
	margin-right: 10px;
}

/* ------------------- twist button ------------------- */
.twist{
	width:  20%;
	height: 100%;
	margin-top: 5%;
	float: left;
}

.twist h1{
	margin-top: 0;
	margin-left: 27%;
	color: #ffffff;
	font-size: 20px;
}

.twist button{
	margin-top: 10%;
	margin-left: 20px;
	width:  80px;
	height: 40px;
	border-radius: 10px;
	border: 2px solid;
	font-size: 16px;
	background: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.twist .twist-btn{
	color: #ffffff;
	border-color: #ffffff;
	overflow: hidden;
	position: relative;
}

.twist .twist-btn:before, .twist-btn:after {
	content: "";
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 0;
	top: 0;
	background-color: #ffffff;
	-webkit-transition: all .4s;
	transition: all .4s;
}
  
.twist .twist-btn:before {
	left: -15px;
	-webkit-transform: skew(-45deg, 0);
	transform: skew(-45deg, 0);
}
  
.twist .twist-btn:after{
	right: -15px;
	-webkit-transform: skew(-45deg, 0);
	transform: skew(-45deg, 0);
}

.twist .twist-btn:hover {
	color: #27323A;
}

.twist .twist-btn:hover:before, .twist-btn:hover:after {
	width: 80%;
}